.results-details-container {
  // height: 100%;
  display: none;
  background-color: #ededed;
  width: 80%;
  padding: 50px;

  @media (max-width: 600px) {
    &.show {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: 600px) {
    display: flex;
  }
}

.details-container {
  flex-wrap: wrap;

  @media (min-width: 800px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.image {
  min-width: 275px;
  height: 275px;
  margin-right: 50px;
  margin-bottom: 20px;
}

header {
  .title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  .byline {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 5px 0 20px 0;
  }
}

.notables {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin-bottom: 20px;

  svg {
    font-size: 1.3em;
    margin-right: 10px;

    &[data-icon='check'] {
      color: #50bf55;
    }

    &[data-icon='times'] {
      color: #bf5050;
    }
  }
}

.details {
  font-family: 'Open Sans', sans-serif;

  dt {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
  }

  dd {
    font-size: 1.1em;
    margin: 0 0 20px 0;
  }
}

.close {
  display: block;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  @media (min-width: 600px) {
    display: none;
  }
}
