@import './sass/breakpoints';

.show-filters {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.57em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  @media (min-width: $BP_LGE) {
    display: none;
  }
}

.filter-panel {
  display: none;
  background-color: #fff;
  padding: 20px 50px;
  flex-direction: column;
  justify-content: space-between;

  &.show {
    display: flex;
  }

  @media (min-width: $BP_LGE) {
    display: flex;
    flex-direction: row;
    height: 20vh;
    min-height: 150px;
  }

  .checkbox-groups {
    display: flex;
    justify-content: space-evenly;
  }

  .sliders {
    display: flex;
    flex-direction: column;

    .slider {
      width: 250px;
      align-self: center;
    }

    p {
      font-family: 'Open Sans';
      font-size: 0.57em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }

    span {
      font-family: 'Open Sans';
      font-size: 0.75em;
      letter-spacing: 0.7px;
    }
  }
}

.results-panel {
  height: 100%;
  display: block;
  min-width: 300px;

  @media (min-width: $BP_MED) {
    display: flex;
    flex-basis: 100%;
  }
}

.results-list-container {
  background-color: #e0e0e0; // why do I need this here as well?
  min-width: 250px;
  flex-basis: 100%;

  @media (min-width: $BP_MED) {
    flex-basis: 25%;
  }
}

.results-details-container {
  display: none;
  background-color: #ededed;
  width: 80%;
  padding: 50px;

  @media (max-width: $BP_MED) {
    &.show-mobile {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: $BP_MED) {
    display: flex;
  }
}

.close {
  display: block;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;

  @media (min-width: $BP_MED) {
    display: none;
  }
}
