.show-filters {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 0.57em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  @media (min-width: 890px) {
    display: none;
  }
}

.filter-panel {
  display: none;
  background-color: #fff;
  padding: 20px 50px;
  flex-direction: column;
  justify-content: space-between;

  &.show {
    display: flex;
  }

  @media (min-width: 890px) {
    display: flex;
    flex-direction: row;
    height: 20vh;
    min-height: 150px;
  }

  .checkbox-groups {
    display: flex;
    justify-content: space-evenly;
  }

  .sliders {
    display: flex;
    flex-direction: column;

    .slider {
      width: 250px;
      align-self: center;
    }

    p {
      font-family: 'Open Sans';
      font-size: 0.57em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }

    span {
      font-family: 'Open Sans';
      font-size: 0.75em;
      letter-spacing: 0.7px;
    }
  }
}

.results-panel {
  height: 100%;
  display: block;

  @media (min-width: 600px) {
    display: flex;
    flex-basis: 100%;
  }
}

.error {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f44336;
  color: white;

  .closebtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
}
